<div class="hero notification is-primary">
  <div class="hero-body">
    <h1 class="title">Welcome</h1>
    <% if signed_in? %>
      <p class="subtitle"><%= current_user.name%></p>
    <% else %>
      <p class="subtitle">Please sign in or register</p>
    <% end %>
  </div>
</div>
<% if signed_in? %>
  <div class="columns">
    <div class="column">
      <article>
        <p class="title">Sales</p>
        <%= link_to "Begin new sale", new_sale_path, :class => "link"%>
        <br>
        <%= link_to "Sales History", sales_path, method: :get, :class => "link"%>

      </article>
    </div>
    <div class="column">
      <article>
        <p class="title">Deliveries</p>
        <%= link_to "Enter a delivery", method: :get, :class => "link"%>
        <br>
        <%= link_to "Delivery History", method: :get, :class => "link"%>
      </article>
    </div>
    <div class="column">
      <article>
        <p class="title">Products</p>
        <%= link_to "List all products", products_path, method: :get, :class => "link"%>
      </article>
    </div>
  </div>
<% end %>