<p id="notice"><%= notice %></p>

<h1>Sales</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created At</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.id%></td>
        <td><%= sale.created_at%></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to '', sale, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'fas fa-trash' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
