<!DOCTYPE html>
<html>
  <head>
    <title>Ecss</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="box">
      <nav class="navbar">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">ECSS</a>
        </div>
        <% if signed_in? %>
        <div class="navbar-end">
          <div class="navbar-item">

          Signed in as: <%= current_user.email %>
          </div>
          <div class="buttons">
            <%= button_to 'Sign out', sign_out_path, method: :delete, class: "button is-secondary"%>
          </div>
        </div>
        <% else %>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to 'Sign in', sign_in_path, class: "button is-primary" %>
              <%= link_to 'Sign up', sign_up_path, class: "button is-secondary" %>
            </div>
          </div>
        </div>
        <% end %>
      </nav>
    </div>
    <section class="section">
      <div class="content">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
